body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Amarante";
    font-weight:400;
    line-height:1.8em;
    color:#666;
    background-color: #f2be54;
  }
.pimg1, .pimg2, .pimg3{
    position: relative;
  /* opacity: 0.80; */
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  /*
    fixed=parallax
    scroll = normal;
    */
}
.pimg1 {
  background-image: url("../images/classroom\ 6.JPG");
  /*with height, big img   100%*/
  min-height: 100%;
  padding: 5%;
}

.pimg2 {
  background-image: url("../images/High\ school\ girls.JPG");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../images/outside\ 2.JPG");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-light {
  background-color: #f4f4f4;
  color: #666;
}
.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext{
    position:absolute;
    top:40%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#cf1717;
    color:#fff;
    padding:20px;
  }
  .ptext .border.trans{
      background-color: transparent;
  }
  .footer{
    background-color:#282e34;
    color:#fff;
    width:100%;
    min-height: 200px;
    text-align: center;
  }
  nav{
    background-color: #f2be54;
    height: 100px;
  }

  nav ul a:hover{
background-color: #cf1717;
  }
  nav .brand-logo.center{
height: 3.6em;
margin-top: 0;

}
  .sidenav-head{
    background-image: url("../images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 20px;
    height: 14rem;
  }
.sidenav{
  background-color: #f2be54;

}

  .sidenav li>a {
    display: block;
    font-size: 19px;
    font-weight: 500;
    /* height: 48px; */
    line-height: 48px;
    padding: 0 32px;
    color: white;
}
.sidenav li>a:hover{
  background-color: #cf1717;
}

h4{
  padding-left: 50px;
  color: #f2be54;
  font-weight: 900;

}
@media(max-width: 375px){
  .pimg1{
    background-size: cover;

  }
  section .section{
    font-size: 1px;
  }
.ptext .border{
    font-size: 10px;

  }
}
@media(max-width: 990px){
.ptext .border{
    font-size: 15px;
    text-align: center;

  }
}
@media(max-width: 650px){
  .ptext .border{
      font-size: 10px;
      text-align: center;
  
    }
  }
  @media(max-width: 325px){
    .ptext .border{
        font-size: 7px;
        text-align: center;
    
      }
    }
  

 